<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 100;font-size: 1.3em; color: #3fdc62">
        Sunpasit Depression
      </ion-label>
    </ion-item>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle> Assessment form </ion-card-subtitle>
      <ion-card-title> แบบประเมินโรคซึมเศร้า 9Q </ion-card-title>
    </ion-card-header>
  </ion-card>


    <ion-list>
    <ion-card *ngFor="let TPS of TP; let ip of Q">{{ip.tl2}}
      <ion-item  *ngFor="let entry of form">{{TPS.title}}
        <ion-label>{{entry.tp}}</ion-label>
        <ion-checkbox slot="end" ></ion-checkbox>
       </ion-item>
       </ion-card>
    </ion-list>

    <ion-button expand="block" color="success" [routerLink]="['/cal']"> ส่ง </ion-button>

</ion-content>
